body {
margin: 0 auto;
box-sizing: border-box;
background-color: #e4e4e4;


}

.message-container {

    display: flex;
    flex-direction: column;
    text-align: center;
    width: 500px;
    justify-content: center;
    margin: 100px auto;
}

.grateful {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
    padding: 0 5px;

}

.message {
    font-family: 'Courier New', Courier, monospace;
    color: #4a4a4a;
    font-weight: bold;
    margin: 0 auto;
    padding: 0 5px;

}